<%- include('../includes/teacherHead.ejs') %>

    <!-- ----------------------------------------- -->

    <div class="container-fluid">
        <div class="row">
            
          <%- include('../includes/teacherNav.ejs') %>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 ">

                <div class="d-flex align-items-center p-3 my-3 text-white bg-primary rounded shadow-sm">
                    <!-- <img class="me-3" src="/docs/5.0/assets/brand/bootstrap-logo-white.svg" alt="" width="48" height="38"> -->
                    <div class="lh-1">
                      <h1 class="h5 mb-0 text-white lh-1">Courses</h1>
                      
                    </div>
                  </div>
                <div class="album py-5 bg-light">
                  <div class="container">
                    <% if(courses <= 0) {%>
                      <h6>No. Course available!!!</h6>
                    <% } else {%>
                      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                      <% for(let Course of courses)  {%>
                      <div class="col">
                        <div class="card shadow-sm">
                          <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em"><%= Course.courseName %></text>
                          </svg>
                          
                          <div class="card-body">
                            <h6><%= Course.courseName %></h6>
                            <p class="card-text"><%= Course.courseDescription %></p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <a href="/teacher/examlist/<%= Course._id %>" class="btn btn-sm btn-outline-secondary">View</a>
                                <!-- <a class="btn btn-sm btn-outline-secondary">Edit</a>
                                <a href="" class="btn btn-sm btn-outline-secondary">Delete</a> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% } %> 
                    </div>
                    <% } %> 
                  </div>
                  </div>

            </main>
        </div>
    </div>

    <!-- ----------------------------------------- -->

<%- include('../includes/teacherEnd.ejs') %>